<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start" defaultHref="tabs/quotes">
      <ion-back-button> </ion-back-button>
    </ion-buttons>

    <ion-title>Quote #: {{ quote?.quote_id }}</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="quote">

         <ion-item>
          <ion-icon name="comma" slot="start" color="dark"></ion-icon>
          Quote: "{{ quote.quote }}"
        </ion-item>
        
        <ion-item>
          <ion-icon name="person" slot="start" color="dark"></ion-icon>
          Author: {{ quote.author }}
        </ion-item>
         
         <ion-item>
          <ion-icon name="film" slot="start" color="dark"></ion-icon>
           Series: {{ quote.series }}
         </ion-item>
  </ion-card>
</ion-content>
